---
---
{% include head.html %}
  <div id="main" itemprop="">

    {% include navigation.html %}


    {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      <div id="{{id}}" class="section p-{{id}}">
        {% if page.icon %}
        <div class="subtlecircle sectiondivider imaged">
          <img src="{{page.icon}}" alt="section icon" />
          <h5 class="icon-title">{{ page.title }}</h5>
        </div>

        {% elsif page.title %}
        <div class="subtlecircle sectiondivider faicon">
          <h5 class="icon-title">{{ page.title }}</h5>
        </div>
        {% endif %}

        {% if page.template %}
        <div class="container {{ page.style }}">
          <div class="row">
            <div class="twelve columns">
              {{ page.content }}
            </div>
          </div>
        </div>
        {% elsif page.alt-template %}
        <div class="container {{ page.style }}">
          <div class="row">
            {{ page.content }}
          </div>
        </div>
        {% endif %}

      </div>
    {% endfor %}


    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.html %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
