---
---
{% include head.html %}
<div id="main">
{% include navigation.html %}
{% for page in site.posts reversed %}
{% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
	<section id="{{id}}" class="section p-{{id}}">
		{% if page.template %}
		<article class="container {{ page.style }}">
			{% if page.icon %}
			<header class="article-header">
				<img src="{{page.icon}}" alt="section icon" />
				<h5>{{ page.title }}</h5>
			</header>
			{% elsif page.title %}
			<header class="article-header">
				<h5 class="icon-title">{{ page.title }}</h5>
			</header>{% endif %}

			<div class="row">
				<div class="twelve columns">
					{{ page.content }}
				</div>
			</div>
		</article>{% elsif page.alt-template %}
		<article class="container {{ page.style }}">
			{% if page.icon %}
			<header class="article-header">
				<img src="{{page.icon}}" alt="section icon" />
				<h5>{{ page.title }}</h5>
			</header>
			{% elsif page.title %}
			<header class="article-header">
				<h5 class="icon-title">{{ page.title }}</h5>
			</header>{% endif %}

			<div class="row">
				{{ page.content }}
			</div>
		</article>{% endif %}
	</section>{% endfor %}
	<footer id="footer" class="global-footer">
		<div class="container">
			{% capture foottext %} {% include footer.html %} {% endcapture %}{{ foottext | markdownify }}
		</div>
	</footer>
</div>
{% include analytics.html %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/site.js"></script>
</html>
