/* Site header */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
	@include font-size(2.6);

	font-weight: 300;
	line-height: 56px;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;

	&,
	&:visited {
		color: $grey-color-dark;
	}
}

.site-nav {
	position: absolute;
	top: 9px;
	right: $spacing-unit / 2;
	background-color: $background-color;
	border: 1px solid $grey-color-light;
	border-radius: 5px;
	text-align: right;

	@include respond-to(tablet) {
    float: right;
    line-height: 56px;
	}

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

/* Site footer */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
	@include font-size(1.8);

  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
	float: none;
	width: calc(100% - (#{$spacing-unit} / 2));

	@include respond-to(tablet) {
		float: left;
		margin-bottom: $spacing-unit / 2;
		padding-left: $spacing-unit / 2;
	}
}

/* Page content */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
	@include font-size(2);
}

.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
	@include font-size(2.4);

	display: block;
}

/* Posts */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	@include font-size(3.6);

	letter-spacing: -1px;
	line-height: 1;

	@include respond-to(tablet) {
		@include font-size(4.2);
	}
}

.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		@include respond-to(2.8);

		@include respond-to(tablet) {
			@include font-size(3.2);
		}
	}

	h3 {
		@include respond-to(2.2);

		@include respond-to(tablet) {
			@include font-size(2.6);
		}
	}

	h4 {
		@include respond-to(1.8);

		@include respond-to(tablet) {
			@include font-size(2.0);
		}
	}
}
