// Colours
$white: #fff;
$grey: #2e2e2e;
$black: #000;
$green: #a9cc17;

$text-color: $white;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$link-color: $green;

$grey-color: #1e1e1e;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
